.wrapper{
  display: flex;
  align-items: center;
  height:48px;
}
.search{
  padding: 14px 20px;
  border-radius:8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius:0px;
  border: 1px solid var(--color-primary--);
  width: 502px; 
 
}
.button{
  height: 95%; 
  cursor: pointer;
  border-radius: 0px 8px 8px 0px  ;
  border: 1px solid var(--color-primary--);
  border-left: none;
  padding: 14px 20px;
 
}
  