.nav{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: var( --color-green--);
     height: 74px;
     padding:0px 32px;
   
}

.logodiv{
    display: flex;
     margin: 14px;
}