.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: var( --color-green--);
     height: 74px;
     padding-left: 35px;
     padding-right: 32px;

}